# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Wordpress files
news/*.log
news/.htaccess
news/sitemap.xml
news/sitemap.xml.gz
news/wp-config.php
news/wp-content/advanced-cache.php
news/wp-content/backup-db/
news/wp-content/backups/
news/wp-content/blogs.dir/
news/wp-content/cache/
news/wp-content/upgrade/
news/wp-content/uploads/
news/wp-content/wp-cache-config.php
