/*
#2A2B2B - light black
#DDDBDB - light gray
#CECDCD - gray
#7C8485 - dark gray
#CFDA54 - light green
#AEB745 - green
#6F8E93 - blue
*/

BODY {
  margin: 0;
  padding: 0;
  background: #000000 url(../images/background.jpg) top center no-repeat;
  color: #2A2B2B;
  font-family: Trebuchet MS, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  -webkit-text-size-adjust: none;
}

IMG {
  border: 0;
}

HR {
  border: none 0;
  border-top: 1px solid #2A2B2B; /* the border */
  height: 1px; /* whatever the total width of the border-top and border-bottom equal */
}

FORM {
  padding-bottom: 0;
  margin-bottom: 0;
}

UL {
  margin: 0 0 0 1em;
  padding: 0 0 0 1em;
}

A:link, A:visited  {
  color: #6F8E93;
  text-decoration: none;
}
A:hover, A:active  {
  color: #000000;
  text-decoration: none;
}

#header {
  margin: 0 auto 23px;
  width: 988px;
  height: 68px;
  background: #000000;
  position: relative;
  z-index: 2000;
}

#logo {
  position: absolute;
  top: 0;
  left: 38px;
  width: 358px;
  height: 121px;
}

#menutop {
  float: right;
  padding-right: 91px;
  font-size: 12px;
}

#menutop A:link, #menutop A:visited  {
  background: #7C8485;
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  float: left;
  line-height: 27px;
  padding: 0 8px;
}
#menutop A:hover, #menutop A:active  {
  background: #DDDBDB;
  color: #000000;
}

#flash-main {
  margin: 0 auto;
  padding: 0;
  width: 835px;
  height: 279px;
  text-align: right;
}

* html #flash-main IMG {
  display: block;
}

#thecontent, #thecontent-main {
  margin: 0 auto 10px;
  width: 805px;
  border-top: 17px solid #FFFFFF;
  background: #DDDBDB;
}

#thecontent-main {
  background: #DDDBDB url(../images/background-content.jpg) repeat-y;
}

#title-left {
  float: left;
  width: 328px;
  height: 46px;
  background: #7C8485;
}

#title {
  float: left;
  padding: 0 24px;
  white-space: nowrap;
  line-height: 46px;
  background: #AEB745;
  color: #FFFFFF;
  font-size: 18px;
  min-width: 137px;
}

* html #title {
  width: 137px;
}

#title-right {
  float: left;
  padding-left: 92px;
  width: 385px;
  height: 46px;
  line-height: 46px;
  background: #000000;
  color: #CFDA54;
  font-size: 18px;
  position: relative;
}

#wl {
  position: absolute;
  top: -35px;
  left: -25px;
  width: 105px;
  height: 105px;
  line-height: 1em;
}

#content-left {
  float: left;
  padding: 0 0 35px 25px;
  width: 160px;
}

#content-mid-main {
  float: left;
  padding: 0 30px 35px 20px;
  width: 310px;
}

#content-mid {
  float: left;
  padding: 0 30px 35px 35px;
  width: 480px;
}

#content-right {
  float: right;
  margin-right: 25px;
  padding-bottom: 35px;
  width: 220px;
  position: relative;
}

* html #content-right {
  margin-right: 15px;
}

* html #menutop, * html #content-left, * html #content-mid, * html #content-mid-main {
  font-weight: bold;
}

.headline {
  font-size: 17px;
  color: #7C8485;
}

#controller {
  display: none;
}

#slideshow {
  width: 214px;
  height: 147px;
  padding: 3px;
  margin: 0 auto 10px;
  background: url(../images/background-slideshow.png);
}

#slides {
  /* This is to handle things if javascript is disabled */
  height: 147px;
  overflow: hidden;
}

#slides IMG {
  width: 214px;
  height: 147px;
}

.jFlowPrev, .jFlowNext {
  position: absolute;
  top: 60px;
  left: -15px;
  height: 30px;
  width: 30px;
}

.jFlowNext {
  left: auto;
  right: -15px;
}

A.sidelink:link, A.sidelink:visited {
  display: block;
  margin: 0 auto 10px;
  padding: 0 14px;
  width: 186px;
  height: 39px;
  line-height: 39px;
  background: #AEB745;
  color: #FFFFFF;
  font-family: Arial, sans-serif;
  font-size: 17px;
  text-decoration: none;
}
A.sidelink:hover, A.sidelink:active {
  background: #7C8485;
  color: #CECDCD;
}

#phone {
  display: block;
  margin: 0 auto;
  width: 211px;
  height: 23px;
}

#footer {
  margin: 0 auto 15px;
  width: 805px;
  color: #6F8E93;
  font-size: 12px;
}

#menubottom {
  float: right;
}

#menubottom A:link, #menubottom A:visited  {
  color: #6F8E93;
  text-decoration: none;
}
#menubottom A:hover, #menubottom A:active  {
  color: #FFFFFF;
  text-decoration: none;
}

#contact {
  float: right;
  width: 260px;
}

#rfq {
  float: left;
}

#contact INPUT, #rfq INPUT {
  width: 250px;
}

#contact TEXTAREA {
  width: 250px;
  height: 130px;
}

#rfq TEXTAREA {
  width: 315px;
  height: 84px;
}

#rfq LABEL {
  float: left;
  width: 65px;
  font-weight: bold;
}

INPUT#button {
  width: auto;
  display: block;
  margin: 0 auto;
}
